<?php

define("ENV_PROD", true);


define("DB_NAME", "");
define("DB_USER", "");
define("DB_PASSWORD", "");
define("DB_DRIVER", "");
define("DB_DRIVER", "pdo_mysql");
define("DB_HOST", "localhost");

