<?php

define("ENV_PROD", true);


define("DB_NAME", "db_name");
define("DB_USER", "db_user");
define("DB_PASSWORD", "db_password");
define("DB_DRIVER", "pdo_mysql");
define("DB_HOST", "db_host");

if (ENV_PROD) {
    error_reporting(0);
}

